html
 head
   title File Metadata Microservice
   link(href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet")
 body(style={color: 'white', background: 'black',  margin: '3em', 'font-family':'Josefin Slab'})
  h1 FreeCodeCamp API Projects: File Metadata Microservice
   h3 Written by Daniel Deutsch
   h2 User stories:
   ol
     li I can submit a FormData object that includes a file upload.
     li When I submit something, I will receive the file size in bytes within the JSON response.
   form(role='form' action='/upload' method='post' enctype='multipart/form-data' style={margin: '3em'})
    div(class='form-group')
     h2 Upload
     input(type='file' name='data' id='input')
     br
     button(
      style={color: 'black', background: 'green', 'font-family':'Arial'}
      id='submit'
     ) Upload
